  * {
      scroll-behavior: smooth;
  }

  body {
      overflow-x: hidden;
      padding: 0%;
      margin: 0%;
      /* background: linear-gradient(to left, #6b46c1, #3b82f6); */
      background-image: url(/assest/image/bck.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      backdrop-filter: blur(5px);

  }

  .links {
      backdrop-filter: blur(10px);
  }

  .active {
      background-color: #558df4;
  }
.animate {
    animation: animate ease-in-out;
    animation-timeline: view();
    animation-range: entry 0
}
@keyframes animate {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }

}


